@import './reset.css';
@import './theme.css';
@import './keyframes.css';

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-primary);
}


button {
  cursor: pointer;
}

.page {
	margin-block-start: var(--space-15);
}