.buttonFull {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.buttonFull:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-on-primary-dark);
}
.buttonFull:focus {
  background-color: var(--color-primary-darker);
  color: var(--color-on-primary-darker);
}