.buttonFull {
  background-color: var(--button-full-bg);
  color: var(--button-full-text);
}
.buttonFull:hover {
  background-color: var(--button-full-bgHover);
  color: var(--button-full-textHover);
}
.buttonFull:focus {
  background-color: var(--button-full-bgFocus);
  color: var(--button-full-textFocus);
}